html {
    font-family: sans-serif;
}

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
}

.lastResult {
    color: white;
    padding: 3px;
}

.acertou {
    background-color: green;
    font-size: 16px;
}

.errou {
    background-color: rosybrown;
    font-size: 12px;
}